<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916237603890-e311qeouqa2unnbstil4vbgib60822v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916237603890-e311qeouqa2unnbstil4vbgib60822v4</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ6o0ixpV5qY_ZnlRwf1_KorCytxt0xjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>916237603890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Foodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-76281</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-76281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916237603890:ios:5b1d995e52810a5bfcd82b</string>
</dict>
</plist>